body{
    display: flex;
    background-color:aqua;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
}

#history-container
{
    display: flex;
    flex direction: row;
    margin: auto;
    background-color: rgb(76, 136, 136);
}

#history-container p{
    border: 2%;
    padding: 2%;
}

#forecast-container{
    flex-direction: row;
    margin: 3%;
    justify-content: center;
    align-items: center;
}

.forecast-item{
    background-color: gray;
    flex-direction: row;
    margin: auto;
}